# JWT Configurations
JwtSettings__SecretKey=your-super-secret-key-with-at-least-32-characters-for-security
JwtSettings__Issuer=backend-api
JwtSettings__Audience=backend-client
JwtSettings__ExpirationMinutes=60

# Database Connection String
ConnectionStrings__DefaultConnection="Host=postgres_container;Port=5432;Database=mydatabase;Username=postgres;Password=yourpassword"

# For development, you can also specify individual database connection parameters:
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=database

API_PORT=7999
