# JWT Configurations
JwtSettings__SecretKey=your-super-secret-key-with-at-least-32-characters-for-security
JwtSettings__Issuer=backend-api
JwtSettings__Audience=backend-client
JwtSettings__ExpirationMinutes=60

# User password
Migrate_Default_Passwords="d52862890b2e6ed91ba136e4264c2b222f4a41537388e63805ae046d5e1b54d7"

# Database Connection String
ConnectionStrings__DefaultConnection="Host=postgres_container;Port=5432;Database=mydatabase;Username=postgres;Password=yourpassword"

# For development, you can also specify individual database connection parameters:
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=database

API_PORT=7999
